<h1>Manage Department
    <%= button_to "Log out", login_path, class: 'btn', method: "get" %>

</h1>


<h2>
    <%= button_to  "Edit", manage_path, class: 'btn', method: "get" %>
    Department 1 
    <br>
        38/40
    </br>
</h2>

<h2>
    <%= button_to  "Edit", manage_path, class: 'btn', method: "get" %>
    Department 2
    <br>
        40/40
    </br>
</h2>
