/*
// Place all the styles related to the infor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*/

h4{
    color: black;
    position: relative;
    font-size: 25px;
    padding: 50px 100px;
    margin-top: 50px;
}

.datepo{
    padding-right: 30px;
}

.border{
    border-style: dotted;
    border-width: thick;
    color: black;
    margin-right: 300px;
    margin-left: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.border:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}


