/*
// Place all the styles related to the infor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*/

h4{
    color: black;
    position: relative;
    padding: 50px 100px;
    margin-top: 50px;
}

.border{
    border-style: dotted;
    border-width: thick;
    color: black;
    margin-right: 150px;
    margin-left: 80px;
    background-color: rgb(255, 255, 255);
}

.inline{
    display: inline-block;
}