/*
// Place all the styles related to the infor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*/

h4{
    color: black;
    position: relative;
    padding: 50px 100px;
    margin-top: 100px;
}